
body {
    background-color: #000000;
  }

.left {
    display: block;
    margin-left: 0;
    margin-right: auto;
    width: auto;
    transform: scaleX(-1);
  }

.right {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: auto;
  }

  .lefttext {
    display: block;
    margin-left: 0;
    margin-right: auto;
    width: auto;
    font-size: 5vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

.righttext {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: auto;
    font-size: 5vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .text-container {
    /* Use flexbox for a more modern approach to alignment */
    display: flex;
    justify-content: center; /* or flex-start for left, flex-end for right */
    align-items: center; /* Vertically centers the images */
  }

  .image-container {
    /* Use flexbox for a more modern approach to alignment */
    display: flex;
    justify-content: center; /* or flex-start for left, flex-end for right */
    align-items: center; /* Vertically centers the images */
    height: 75vh;
  }
  
  .image-container img {
    display: inline-block;
    vertical-align: middle; /* Ensures consistent vertical alignment */
    margin: 5px;
    border-radius: 50px;
    width: auto;
    max-width: 50%;
    height: auto;
    max-height: 75vh;
  }